<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.douyin.mapper.SearchRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.douyin.pojo.SearchRecords" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getHotSearchRecord" parameterType="int" resultType="String">
    SELECT content
    from search_records GROUP BY content ORDER BY count(content) DESC limit #{num}
  </select>
</mapper>